* {
  font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif", "-apple-system", "BlinkMacSystemFont";
}

.pageWrapper {
  width: 950px;
  margin: 0px auto;
}

.button {
  display: block;
  height: 100px;
  width: 100px;
  vertical-align: center;
  margin: 20px;
  margin-top: 300px;
  cursor: pointer;
}

.listWrapper {
  width: 400px;
  marginRight: 10px;
}

.left {
  float: left;
}